# Social Links Configuration
# Copy this file to .env and update with your own values

# Main social profiles
VITE_GITHUB_URL= https://github.com/wenduvalin
VITE_LINKEDIN_URL=https://www.linkedin.com/in/wendy-guzm%C3%A1n-3477ba371/
VITE_EMAIL=wendy.guzman.orta.27@gmail.com

# GitHub Repository URLs
VITE_GITHUB_PROJECT1_URL=https://github.com/username/project-one
VITE_GITHUB_PROJECT2_URL=https://github.com/username/project-two
VITE_GITHUB_PROJECT3_URL=https://github.com/username/project-three
VITE_GITHUB_PROJECT4_URL=https://github.com/username/project-four
